.md-typeset .hljs {
  display: block;
  overflow-x: auto;
  backdrop-filter: blur(20px);
  /* background: radial-gradient(97.68% 221.36% at 97.68% 100%, rgba(35, 172, 240, 0.052) 0%, rgba(35, 172, 240, 0) 100%), #FAFAFD; */
  /* border: 1px solid #DFE0EB; */
  color: #666880;
}

/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
  color: #a6e3ff;
}

.hljs-comment,
.hljs-quote {
  color: #9FA1BF;
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #ea7efc;
}

.hljs-keyword {
  font-weight: bold;
}

.hljs-variable,
.hljs-template-variable {
  color: #3F6E74;
}

.hljs-code,
.hljs-string,
.hljs-meta-string {
  color: #B11FCC;
}

.hljs-regexp,
.hljs-link {
  color: #6699FF;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #40c4ff;
}

.hljs-section,
.hljs-meta {
  color: #643820;
}

.hljs-class .hljs-title,
.hljs-type {
  color: #094867;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #0073ac;
}

.hljs-attr {
  color: #701980;
}

.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-ln-n {
  padding-left: 20px;
  padding-right: 8px;
  color: #8385A3;
}

.hljs-ln-numbers {
  border-right: 1px solid #DFE0EB;
}

.hljs-ln-code {
  padding-left: 20px;
}

.hljs-ln {
  border-collapse: collapse;
}

.hljs-ln .hljs-ln-n:before {
  content: attr(data-line-number);
}
